$menutopcolor: #424141;
$buttonhovercolor: #3D85C6;
$white: #FFFFFF;
$transparent: transparent;

/*FONT SIZE*/
$font22: 22px;
$font15: 15px;

$ArialHelv:  Arial, Helvetica, sans-serif;

html, body {
    height: 100%;
    width: 100;
    margin: 0;
    font-family: $ArialHelv;
}

.login {
    width: 50%; 
    height: 50%;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

.form-login {
    width: 90%; 
    height: 90%;
    display: inline-block;
    padding: 20px;
}

.inputlogin {
    margin: auto;
    display: block;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: $menutopcolor;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}