@menutopcolor: #424141;
@buttonhovercolor: #3D85C6;
@white: #FFFFFF;
@gray: #C6C6C6;
@transparent: transparent;

    /*FONT SIZE*/
@font22: 22px;
@font15: 15px;

    /*FONT FAMILY*/
@ArialHelv:  Gugi, cursive;

html, body {
    height: 100%;
    width: 100;
    margin: 0;
    font-family: @ArialHelv;
}

.login {
    width: 50%; 
    height: 50%;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

.form-login {
    width: 90%; 
    height: 90%;
    display: inline-block;
    padding: 20px;
}

.inputlogin {
    margin: auto;
    display: block;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: @menutopcolor;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

.person {
    text-transform: uppercase;
    cursor: default;
}

.welcome {
    float: left;
    cursor: default;
}

.topMenu {
    float: right;
    cursor: pointer;
}

.topMenu a, .welcome {
    display: block;
    color: @white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
.topMenu a:hover {
    background-color: @buttonhovercolor;
}

.column {
    margin-top: 15px;
    margin-left: 15px;
    float: left;
    width: 23%;
    border-radius: 25px;
}
  
.row {
    top: 90px;
}
  
@media screen and (max-width: 600px) {
    .column {
        width: 95%;
        display: block;
        margin-bottom: 10px;
    }
}
  
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding-top: 5px;
    padding-bottom: 15px;
    text-align: center;
    background-color: @menutopcolor;
    border-radius: 25px;
}

.titleCard {
    color: @white;
    font-size: @font22;
    cursor: default;
}

.optionCard {
    display: block;
    color: @white;
    font-size: @font15;
    background-color: @transparent;
    padding: 8px 15px;
    border-color: @transparent;
    cursor: pointer;
    border-radius: 15px;
    margin-left: 40%;
}

hr {
    border: 0;
    border-top-color: currentcolor;
    border-top-style: none;
    border-top-width: 0px;
    border-right-color: currentcolor;
    border-right-style: none;
    border-right-width: 0px;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-left-color: currentcolor;
    border-left-style: none;
    border-left-width: 0px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(255, 255, 255), rgba(0, 0, 0, 0));
}
