/**********************
VARIABLES
**********************/
:root {
    --menutopcolor: #424141;
    --buttonhovercolor: #3D85C6;
    --white: #FFFFFF;
    --white2: #fefefe;
    --black: #000000;
    --black2: #161616;
    --gray: #C6C6C6;
    --gray2: #d2d9dd;
    --gray3: #888888;
    --transparent: transparent;
    --green: #5D9207;
    --green2: #198C19;
    --red: #d81813;

    /*FONT SIZE*/
    --font22: 22px;
    --font15: 15px;

    /*FONT FAMILY*/
    --ArialHelv:  Gugi, cursive;
}
/**********************
FIN VARIABLES
**********************/
/**********************
STYLES GENERALES HTML
**********************/
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: var(--ArialHelv);
}
/**********************
FIN STYLES GENERALES HTML
**********************/
/**********************
STYLES LOGIN
**********************/
.login {
    width: 50%; 
    height: 50%;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

.form-login {
    width: 90%; 
    height: 90%;
    display: inline-block;
    padding: 20px;
}

.inputlogin {
    margin: auto;
    display: block;
    text-align: center;
}
/**********************
FIN STYLES LOGIN
**********************/
/**********************
STYLES TOP NAV BAR
**********************/
ul {
    z-index: 100;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--menutopcolor);
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

.person {
    text-transform: uppercase;
    cursor: default;
}

.welcome {
    float: left;
    cursor: default;
}

.topMenu {
    float: right;
    cursor: pointer;
}
  
.topMenu a, .welcome {
    display: block;
    color: var(--white);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
.topMenu a:hover {
    background-color: var(--buttonhovercolor);
}
/**********************
FIN STYLES TOP NAV BAR
**********************/

/**********************
STYLES CARD IN HOME
**********************/

.column {
    margin-top: 15px;
    margin-left: 15px;
    float: left;
    width: 23%;
    border-radius: 25px;
}
  
.row {
    top: 90px;
}
  
@media screen and (max-width: 600px) {
    .column {
        width: 95%;
        display: block;
        margin-bottom: 10px;
    }
}
  
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding-top: 5px;
    padding-bottom: 15px;
    text-align: center;
    background-color: var(--menutopcolor);
    border-radius: 25px;
}

.titleCard {
    color: var(--white);
    font-size: var(--font22);
    cursor: default;
}

.optionCard {
    display: block;
    color: var(--white);
    font-size: var(--font15);
    background-color: var(--transparent);
    padding: 8px 15px;
    border-color: var(--transparent);
    cursor: pointer;
    border-radius: 15px;
    margin-left: 30%;
}

.optionCard-menu {
    display: block;
    color: var(--white);
    font-size: var(--font15);
    background-color: var(--transparent);
    padding: 8px 15px;
    border-color: var(--transparent);
    cursor: pointer;
    border-radius: 15px;
    margin-left: 30%;
}

/*.optionCard:hover {
    background-color: var(--transparent);
    border-color: var(--transparent);
    -webkit-box-shadow: 0px 5px 40px -7px rgb(255, 255, 255);
    -moz-box-shadow: 0px 5px 40px -7px rgb(255, 255, 255);
    box-shadow: 5px 40px -7px rgb(250, 250, 250);
}*/

hr {
    border: 0;
    border-top-color: currentcolor;
    border-top-style: none;
    border-top-width: 0px;
    border-right-color: currentcolor;
    border-right-style: none;
    border-right-width: 0px;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-left-color: currentcolor;
    border-left-style: none;
    border-left-width: 0px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(255, 255, 255), rgba(0, 0, 0, 0));
}

/*.optionCard:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}*/

/**********************
FIN STYLES CARD IN HOME
**********************/

/**********************
STYLES TOOLTIP
**********************/

.tooltip {
    position: relative;
    display: block;
    text-align: center;
}
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 190px;
    background-color: var(--buttonhovercolor);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 2px 0;
    position: absolute;
    z-index: 1;
    bottom: 0%;
    left: 70%;
    margin-left: -60px;
    font-size: 15px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent var(--buttonhovercolor) transparent transparent;
}

/**********************
FIN STYLES TOOLTIP
**********************/

/**************************
STYLES SIDE BAR NAVIGATION
**************************/
.side-bar{
    position: fixed;
    width: 65px;
    top: 48px;
    height: 100vh;
    z-index: 100;
    overflow:scroll;
    transition:width .3s ease;
    background-color: var(--menutopcolor);
}
.side-bar-title {
    color: var(--white);
    margin-left: 20px;
}

.side-bar:hover {
    width:215px;
}

.side-bar  ul  li{
    display: flex;
    width: 100%;
    list-style: none;
    margin-right: 30px;    
}

.side-bar ul li a{
    display: flex;
    align-items: center;
    width: 100%;
    color: white;
    box-sizing: border-box;
    text-decoration: none;
    transition: all 300ms linear;
    text-transform: uppercase;
    font-size: 12px;
}

.side-bar ul li a:hover{
    background: var(--buttonhovercolor);
    color: var(--white);
    cursor: pointer;
}

.menu_icon {
    position: relative;
    margin-right: 15px;
    padding: 20px 20px 20px 20px;
    font-size: 12px;
}

.side-bar ul li:last-child {
    margin-bottom: 30px;    
}

.active {
    background: var(--buttonhovercolor);
    color: var(--white);
}
  
/**************************
FIN STYLES SIDE BAR NAVIGATION
**************************/
  
/**********************
STYLES TABLE
**********************/
.container {
    display: inline-block;
    width: 75%;
    margin-top: 5%;
    margin-left: 13.5%;
}

.table {
    border-collapse: collapse;
    width: 100%;
    border-spacing:0;
    display:table;
    overflow-y: scroll;
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
}

th {
    background-color: var(--menutopcolor);
    color: var(--white);
    padding: 15px;
    cursor: default;
}

.body-table td {
    background-color: var(--gray);
    padding: 25px;
}

.body-table:hover {
    background-color: #f5f5f5;
    cursor: default;
}
/**********************
FIN STYLES TABLE
**********************/

/******************************
STYLE HEADER PAGE  
******************************/
.content-header {
    position: relative;
    padding: 15px 15px 0 150px;
}
  
.content-header > h1 {
    margin: 0;
    font-size: 24px;
}
  
.content-header > h1 > small {
    font-size: 15px;
    display: inline-block;
    padding-left: 4px;
    font-weight: 300;
}
/******************************
FIN STYLE HEADER PAGE  
******************************/

/******************************
MODAL STYLE
******************************/
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    position: relative;
    background-color: var(--white2);
    margin: auto;
    padding: 0;
    border: 1px solid var(--gray3);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    /*-webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;*/
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.close {
    color: var(--white2);;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: var(--black);;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: var(--menutopcolor);
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: var(--white);
    color: var(--menutopcolor);
}

.buttonM {
	font-family: var(--ArialHelv);
	position: relative;
	padding: 10px 30px 9px 30px;
	color: var(--white);
	margin: 0 auto;
	background: var(--menutopcolor);
	font-size: 18px;
	text-align: center;
	font-style: normal;
	border: 1px solid var(--menutopcolor);
	border-width: 1px 1px 3px;
    margin-bottom: 10px;
    cursor: pointer;

}

/******************************
FIN MODAL STYLE
******************************/
/******************************
SECCION ALTA EMPLEADO STYLE
******************************/
.container-alta-empleado {
    margin-left: 70px;
}
.contenedor-alta {
    margin: 50px 800px 0px 150px;
	background-color: var(--menutopcolor);
}
.card-alta {
	background-color: var(--menutopcolor);
}
.form-style-5{
	background-color: var(--white);
	border-radius: 8px;
	font-family: var(--ArialHelv);
}
.form-style-5 fieldset{
	border: none;
}
.form-style-5 legend {
	font-size: 1.4em;
	margin-bottom: 10px;
}
.form-style-5 label {
	display: block;
	margin-bottom: 8px;
}
.form-style-5 input[type="text"],
.form-style-5 input[type="date"],
.form-style-5 input[type="datetime"],
.form-style-5 input[type="email"],
.form-style-5 input[type="number"],
.form-style-5 input[type="search"],
.form-style-5 input[type="time"],
.form-style-5 input[type="url"],
.form-style-5 textarea,
.form-style-5 select {
	font-family: var(--ArialHelv);
	background: var(--menutopcolor);
	border: none;
	border-radius: 4px;
	font-size: 15px;
	margin: 0;
	outline: 0;
	padding: 10px;
	width: 100%;
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	background-color: var(--white);
	color:var(--menutopcolor);
	-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.8) inset;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.8) inset;
	margin-bottom: 30px;
}
.form-style-5 input[type="text"]:focus,
.form-style-5 input[type="date"]:focus,
.form-style-5 input[type="datetime"]:focus,
.form-style-5 input[type="email"]:focus,
.form-style-5 input[type="number"]:focus,
.form-style-5 input[type="search"]:focus,
.form-style-5 input[type="time"]:focus,
.form-style-5 input[type="url"]:focus,
.form-style-5 textarea:focus,
.form-style-5 select:focus{
	background: var(--white);
	color:var(--menutopcolor);
}
.form-style-5 select{
	background: var(--white);
	color:var(--menutopcolor);
	-webkit-appearance: menulist-button;
	height:35px;
}
.form-style-5 .number {
	background: var(--menutopcolor);
	color: var(--white);
	height: 30px;
	width: 30px;
	display: inline-block;
	font-size: 0.8em;
	margin-right: 4px;
	line-height: 30px;
	text-align: center;
	border-radius: 15px 15px 15px 0px;
}

.form-style-5 input[type="submit"],
.form-style-5 input[type="reset"],
.form-style-5 input[type="button"] {
	font-family: var(--ArialHelv);
	position: relative;
	padding: 10px 30px 9px 30px;
	color: var(--white);
	margin: 0 auto;
	background: var(--menutopcolor);
	font-size: 18px;
	text-align: center;
	font-style: normal;
	width: 22%;
    border: 1px solid var(--menutopcolor);
    border-radius: 12px;
	margin-bottom: 10px;
}
.form-style-5 input[type="submit"]:hover,
.form-style-5 input[type="reset"]:hover {
	background: var(--buttonhovercolor);
	border: 1px solid var(--buttonhovercolor);
	border-width: 1px 1px 3px;
    cursor: pointer;
}
/*.form-style-5 input[type="button"]:hover {
	background: var(--red);
	border: 1px solid var(--red);
	border-width: 1px 1px 3px;
    cursor: pointer;
}*/
/******************************
FIN SECCION ALTA EMPLEADO STYLE
******************************/

/******************************
ESTILO MOD USER FILE
******************************/
.container-mod-empleado {
    margin-left: 70px;
}
.contenedor-mod {
    margin: 50px 800px 0px 150px;
	background-color: var(--menutopcolor);
}
.card-mod-1 {
    background-color: var(--menutopcolor);
}
.fieldset-mod-user {
    display: inline-block;
}
.form-style-6{
	background-color: var(--white);
	border-radius: 8px;
	font-family: var(--ArialHelv);
}
.form-style-6 fieldset{
	border: none;
}
.form-style-6 legend {
	font-size: 1.4em;
    margin-bottom: 10px;
    margin-left: 10px;
}
.form-style-6 label {
	display: block;
	margin-bottom: 8px;
}
.form-style-6 input[type="text"],
.form-style-6 input[type="date"],
.form-style-6 input[type="datetime"],
.form-style-6 input[type="email"],
.form-style-6 input[type="number"],
.form-style-6 input[type="search"],
.form-style-6 input[type="time"],
.form-style-6 input[type="url"],
.form-style-6 textarea,
.form-style-6 select {
	font-family: var(--ArialHelv);
	background: var(--menutopcolor);
	border: none;
	border-radius: 4px;
	font-size: 15px;
	margin: 0;
	outline: 0;
	padding: 10px;
	width: 50%;
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	background-color: var(--white);
	color:var(--menutopcolor);
	-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.8) inset;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.8) inset;
	margin-bottom: 30px;
}
.form-style-6 input[type="text"]:focus,
.form-style-6 input[type="date"]:focus,
.form-style-6 input[type="datetime"]:focus,
.form-style-6 input[type="email"]:focus,
.form-style-6 input[type="number"]:focus,
.form-style-6 input[type="search"]:focus,
.form-style-6 input[type="time"]:focus,
.form-style-6 input[type="url"]:focus,
.form-style-6 textarea:focus,
.form-style-6 select:focus{
	background: var(--white);
	color:var(--menutopcolor);
}
.form-style-6 select{
	background: var(--white);
	color:var(--menutopcolor);
	-webkit-appearance: menulist-button;
	height:35px;
}
.form-style-6 .number {
	background: var(--menutopcolor);
	color: var(--white);
	height: 30px;
	width: 30px;
	display: inline-block;
	font-size: 0.8em;
	margin-right: 4px;
	line-height: 30px;
	text-align: center;
	border-radius: 15px 15px 15px 0px;
}

.form-style-6 input[type="submit"],
.form-style-6 input[type="reset"],
.form-style-6 input[type="button"] {
	font-family: var(--ArialHelv);
	position: relative;
	padding: 10px 30px 9px 30px;
	color: var(--white);
	margin: 0 auto;
	background: var(--menutopcolor);
	font-size: 18px;
	text-align: center;
	font-style: normal;
	width: 22%;
    border: 1px solid var(--menutopcolor);
    border-radius: 12px;
	margin-bottom: 10px;
}
.form-style-6 input[type="submit"]:hover,
.form-style-6 input[type="reset"]:hover {
	background: var(--buttonhovercolor);
	border: 1px solid var(--buttonhovercolor);
	border-width: 1px 1px 3px;
    cursor: pointer;
}
/******************************
FIN ESTILO MOD USER FILE
******************************/

/*******************************
ESTILOS ICONOS FONTAWESOME
*******************************/
.fa-user-edit {
    color: var(--menutopcolor);
    margin-right: 10px;
    cursor: pointer;
}

.fa-trash-alt{
    color: var(--menutopcolor);
    margin-right: 10px;
    cursor: pointer;
}

.fa-check-circle { 
    color: var(--green);
    margin-right: 10px;
}

.fa-ban {
    color: var(--red);
    margin-right: 10px;
}

.fa-minus-circle{ 
    color: var(--red);
    margin-right: 10px;
    cursor: pointer;
}

.fa-plus-circle {
    color: var(--green);
    margin-right: 10px;
    cursor: pointer;
}
/*******************************
FIN ESTILOS ICONOS FONTAWESOME
*******************************/
